@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
  --gray-100: #f2f2f2;
  --gray-300: #808080;
  --gray-500: #262626;
  --gray-600: #1a1a1a;
  --gray-700: #0d0d0d;
  --blue-dark: #1e6f9f;
  --purple: #8284fa;
  --blue: #4ea8de;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--gray-600);
  color: #fff;
  font-size: 1.6rem;
}
